
@{
    ViewBag.Title = "PaySuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link href="~/Content/theme/shop/css/cartstyle.css" rel="stylesheet" />
    <link href="~/Content/theme/shop/css/jsstyle.css" rel="stylesheet" />
    <link href="~/Content/theme/shop/css/sustyle.css" rel="stylesheet" type="text/css" />
}
<div class="take-delivery">
    <div class="status">
        <h2>您已成功付款</h2>
        <div class="successInfo">
            <div class="option">
                <span class="info">您可以</span>
                <a href="#" class="J_MakePoint">查看<span>已买到的宝贝</span></a>
                <a href="#" class="J_MakePoint">查看<span>交易详情</span></a>
            </div>
        </div>
    </div>
</div>

